<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <link rel="manifest" href="manifest.json" />
    <!-- ios support -->
    <link rel="apple-touch-icon" href="images/icons/icon-72x72.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-96x96.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-128x128.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-144x144.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-192x192.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-384x384.png" />
    <link rel="apple-touch-icon" href="images/icons/icon-512x512.png" />
    <meta name="apple-mobile-web-app-status-bar" content="#db4938" />
    <meta name="theme-color" content="#db4938" />
    
    <!--====== Title ======-->
    <title>Fitness Monitoring Centre</title>
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
        
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="css/bootstrap-4.5.0.min.css">
    
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="css/default.css">
    
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->    
   
   
    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->
    
    <!--====== HEADER PART START ======-->
    
    <header class="header-area">
        <div class="navbar-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="index.html">
                                <img src="images/logo-2.png" alt="Logo">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="#home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#settings">Settings</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#reminders">Reminders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#trackers">Trackers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#health-log">Health log</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#set-goals">Set Goals</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="page-scroll" href="#dietician">Dietician</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="page-scroll" href="#personal-journal">Personal journal</a>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                            
                            <div class="navbar-btn d-none d-sm-inline-block">
                                <a class="main-btn" data-scroll-nav="0" href="#login" rel="nofollow">Login</a>
                                <a class="main-btn" data-scroll-nav="0" href="#logout" rel="nofollow">Logout</a>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navbar area -->
        
        <div id="home" class="header-hero bg_cover" style="background-image: url(images/banner-bg.svg)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="header-hero-content text-center">
                            <h2 class="header-title fadeInUp">Fitness Monitoring Centre</h2>
                            <h3 class="header-sub-title fadeInUp">Stay Home Stay Fit</h3>
                            <p class="text fadeInUp">Fitness monitoring center helps you create and manage your health and phhysical activites at home.</p>
                            <a href="#sign-up" class="main-btn fadeInUp"">Get Started</a>
                        </div> <!-- header hero content -->
                    </div>
                </div> <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-hero-image text-center fadeIn">
                            <img src="images/header-hero.png" alt="hero">
                        </div> <!-- header hero image -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header hero -->
    </header>
    
    <!--====== HEADER PART ENDS ======-->
    
    <!--====== SERVICES PART START ======-->
    
    <section id="features" class="services-area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-title text-center pb-40">
                        <div class="line m-auto"></div>
                        <h3 class="title">FIT! FIERCE! FABULOUS!</h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-services text-center mt-30 fadeIn">
                        <div class="services-icon">
                            <img class="shape" src="images/reminder.png" alt="shape">
                            <img class="shape-1" src="images/reminder.png" alt="shape">
                            <i class="fa fa-baloon"></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title">Reminders</h4>
                            <p class="text">Reminders and push notifications keep you on track will help increase consumer compliance with self-monitoring  by strengthening and 
                              engaging with personal fitness goals and improving cognitive factors linked to healthy lifestyle improvement.</p>
                            <a class="more" href="#reminders">Set Reminders<i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-services text-center mt-30 fadeIn">
                        <div class="services-icon">
                            <img class="shape" src="images/tracker.png" alt="shape">
                            <img class="shape-1" src="images/tracker.png" alt="shape">
                            <i class="fa fa-cog"></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title">Trackers</h4>
                            <p class="text mb-40">Easy, elegantly built, and simple to use, helps to keep track daily fitness activities, weightloss goals, water consumption, sleep monitioring, Food intake.</p>
                            <a class="more" href="#trackers">Track<i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-services text-center mt-30 fadeIn">
                        <div class="services-icon">
                            <img class="shape" src="images/dietplans.png" alt="shape">
                            <img class="shape-1" src="images/dietplans.png" alt="shape">
                            <i class="fa fa-bolt-alt"></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title">Diet and workout plans</h4>
                            <p class="text mb-105">Create and manage your health and physical activities conveniently at home.</p>
                            <a class="more" href="#dietician">Contact Dietician <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div> <!-- single services -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    <!--====== SERVICES PART ENDS ======-->
    
    
    <!--====== ABOUT PART START ======-->
    
    <section id="settings" class="about-area pt-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-lg-last">
                    <div class="about-content mt-50 fadeInLeftBig">
                        <div class="section-title">
                            <div class="line"></div>
                            <h3 class="title">Modern design <span> with Essential Features</span></h3>
                        </div> <!-- section title -->
                        <p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, seiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing.</p>
                        <a href="#" class="main-btn">Try it Free</a>
                    </div> <!-- about content -->
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="about-image text-center mt-50 fadeInRightBig">
                        <img src="images/settings.svg" alt="about">
                    </div> <!-- about image -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== VIDEO COUNTER PART START ======-->
    
    <section id="dietician" class="video-counter pt-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="video-content mt-50 fadeIn">
                        <div class="video-wrapper">
                            <div class="video-image">
                                <img src="images/dietician-contact.png" alt="dietician-contact">
                            </div>
                        </div> <!-- video wrapper -->
                    </div> <!-- video content -->
                </div>
                <div class="col-lg-6">
                    <div class="counter-wrapper mt-50 fadeIn">
                        <div>
                            <div class="section-title">
                                <div class="line"></div>
                                <h3 class="title">Dietician <span> for your daily nutrition</span></h3>
                            </div> <!-- section title -->
                            <p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, seiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                        </div> <!-- counter content -->
                        <div class="row no-gutters">
                            <div class="col-4">
                                <div class="single-counter counter-color-1 d-flex align-items-center justify-content-center">
                                    <div class="text-center">
                                        <p class="text">Calories</p>
                                        <p class="text">Women - 2000/day</p>
                                        <p class="text">Men - 2500/day</p>
                                    </div>
                                </div> <!-- single counter -->
                            </div>
                            <div class="col-4">
                                <div class="single-counter counter-color-2 d-flex align-items-center justify-content-center">
                                    <div class="counter-items text-center">
                                        <p class="text">Fibre</p>
                                        <p class="text">25-30g/day</p>
                                    </div>
                                </div> <!-- single counter -->
                            </div>
                            <div class="col-4">
                                <div class="single-counter counter-color-3 d-flex align-items-center justify-content-center">
                                    <div class="counter-items text-center">
                                        <p class="text">Protein</p>
                                        <p class="text">Women - 57 g/day</p>
                                        <p class="text">Men - 67 g/day</p>
                                    </div>
                                </div> <!-- single counter -->
                            </div>
                        </div> <!-- row -->
                    </div> <!-- counter wrapper -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== DIETICIAN PART ENDS ======-->

    <!--====== FOOTER PART START ======-->
    
    <footer class="footer-area pt-120">
        <div class="container">
            <div id="login" class="login-area">
                <div class="row">
                    <div>
                        <div class="sign-up-content mt-45">
                            <h2 class="sign-up-title">Login for more benefits</h2>
                        </div>
                        <div class="sign-up-form mt-50">
                          <form class="login-form" action="/login">
                              <input type="email" name="login-email" placeholder="Enter eamil" required>
                              <input type="password" name="login-password" placeholder="Enter password" required>
                              <button type="submit" class="login-btn">Login</button>
                              <div class="login-msg"></div>
                          </form>
                          <a href="#sign-up">Not registered? Sign Up Here.</a>
                      </div>
                    </div>
                 </div> 
            </div>
            <div id="sign-up" class="sign-up-area">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="sign-up-content mt-45">
                            <h2 class="sign-up-title">Sign-up for more benefits <span>and to get regular updates</span></h2>
                            <img src="images/sign-up.png" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="sign-up-form mt-50">
                            <form class="sign-up-form" action="/register">
                                <input type="text" name="name" placeholder="Enter your name" required>
                                <input type="email" name="email" placeholder="Enter email" required>
                                <input type="password" name="password" placeholder="Enter password" required>
                                <input type="number" name="age" placeholder="Enter Age" min="10" max="100" required>
                                <input type="radio" id="male" name="gender" value="male">Male  <input type="radio" id="female" name="gender" value="female">Female
                                <input type="number" name="height-feet" placeholder="Enter Height (Feet)" min="4" max="7" required>
                                <input type="number" name="height-inches" placeholder="Enter Height (Inches)" max="12" required>
                                <input type="number" name="height-weight" placeholder="Enter Weight (Kg)" min="20" max="120" required>
                                <button type="submit" class="main-btn sign-up-btn">Sign-Up</button>
                                <div class="alert-msg"></div>
                            </form>
                        </div>
                    </div>
                 </div> 
            </div>
            <div class="footer-widget pb-20">
                <div class="row">
                    <div class="col-lg-8 col-md-6 col-sm-8">
                        <div class="footer-about mt-50  fadeIn">
                            <a class="logo" href="#">
                                <img src="images/logo-2.png" alt="logo">
                            </a>
                            <p class="text">Fitness monitoring centre gives you access to a variety of features that help you to track daily health and physical activities, keep track of weight loss goals, water intake, food intake under the guidance of dieticians/ fitness coaches, videos published by the health professionals will be available on the application. No need to worry about software installation. You can access the application on the web.</p>
                        </div> <!-- footer about -->
                    </div>
                    
                    <div class="col-lg-4 col-md-5 col-sm-5">
                        <div class="footer-contact mt-50  fadeIn">
                            <div class="footer-title">
                                <h4 class="title">Contact Us</h4>
                            </div>
                            <ul class="contact">
                                <li><a href="skype:srujana.jaiswal2">Call on skype</a></li>
                                <li>srujana.chamrolia4@gmail.com</li>
                                <li>100 Main Street, Glasgow <br> Scotland, UK</li>
                            </ul>
                        </div> <!-- footer contact -->
                    </div>
                </div> <!-- row -->
            </div> <!-- footer widget -->
            <div class="footer-copyright">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright d-sm-flex justify-content-between">
                            <div class="copyright-content">
                                <p class="text">@ 2021 Fitness Monitoring Centre</p>
                            </div> <!-- copyright content -->
                        </div> <!-- copyright -->
                    </div>
                </div> <!-- row -->
            </div> <!-- footer copyright -->
        </div> <!-- container -->
    </footer>
    
    <!--====== FOOTER PART ENDS ======-->
    
    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->   
 
    <!--====== Jquery js ======-->
    <script src="js/jquery-3.5.1-min.js"></script>
    <script src="js/modernizr-3.7.1.min.js"></script>
    
    <!--====== Bootstrap js ======-->
    <script src="js/bootstrap-4.5.0.min.js"></script>

    <script src="js/jquery.cookie.js"></script>
    
    <!--====== Scrolling Nav js ======-->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>
    
    <!--====== Main js ======-->
    <script src="js/main.js"></script>
    
</body>

</html>
